*,
*:before,
*::after {
    outline: red;
}


* {
    padding: 0;
    margin: 0;
}

nav {
    z-index: 99;
    position: sticky;
    top: 0;
}


header {
    background-color: #f5cb5c;
    color: #242423;
    height: 555px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro {
    width: 50vw;
    text-align: left;
    padding: 60px;
}

.image-carousel {
    width: 50vw;
    padding-right: 5px;
}

* {
    box-sizing: border-box;
}

.displayimage {
    display: flex;
    justify-content: center;
}

.insulationPhotos {
    height: 500px;
    align-self: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides.default-slide {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.map-image {
    border-radius: 75px;
}

.div main {
    color: #e8eddf;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

section {
    height: 20vw;
}

body {
    background-color: #e8eddf;
    color: #e8eddf;
}

.services {
    background-color: #333533;
    width: 50vw;
    text-align: left;
    padding: 60px;
    padding-left: 100px;
}

.servicemap {
    width: 50vw;
    padding: 10px;
    background-color: #333533;
}

.servicemap img {
    height: 333px;
}

.servicemapimage {
    display: flex;
    justify-content: right;
    align-content: center;
    padding-right: 100px;
    padding-top: 20px;
}

.bottomofpage {
    display: flex;
}

footer {
    background-color: #cfdbd5;
    color: #242423;
    padding: 20px;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.centered {
    text-align: center;
}


.about-us {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    padding: 100px;
    color: #333533;
}

.linkedin-logo {
    height: 16px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #cfdbd5;
    height: 10vh;
    padding: 10px;
}

.nav-list a:hover {
    color: red;
}